@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 0;
}
.hidden-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(182, 181, 181);
  border-radius: 8px;
}

.skeleton div {
  position: relative;
  color: #eee;
  overflow: hidden;
}

.skeleton div::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 100px;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  animation: skeletonSlide 1s infinite ease-in-out;
}

@keyframes skeletonSlide {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}
